name: develop-build
run-name: Develop build of the app
on:
  schedule:
    - cron: "42 18 * * *"
env:
  BUILD_NUMBER: ${{ github.run_number }}
jobs:
  build-app:
    concurrency:
      group: "develop-build"
      cancel-in-progress: true
    runs-on: "ubuntu-latest"
    steps:
      - uses: actions/checkout@v4
        with:
          lfs: true
          submodules: recursive
          fetch-depth: 0

      # Determine new version

      - name: Get current branch
        shell: bash
        run: |
          echo "CURRENT_BRANCH=$(git branch --show)" >> $GITHUB_ENV
      - name: Derive appropriate SHAs for base and head for `nx affected` commands
        uses: nrwl/nx-set-shas@177b48373c6dc583ce0d9257ffb484bdd232fedf
        with:
          main-branch-name: "${{ env.CURRENT_BRANCH }}"
      - name: Collect version prerequisites
        shell: bash
        run: |
          echo "OLD_VERSION=$(cat version.txt)" >> $GITHUB_ENV
          echo "OLD_MOBILE_VERSION=$(cat mobile/version.txt)" >> $GITHUB_ENV
          OLD_MOBILE_VERSION=$(cat mobile/version.txt)
          echo "OLD_MOBILE_VERSION=$OLD_MOBILE_VERSION" >> $GITHUB_ENV
          OLD_WATCH_VERSION=$(cat watch/version.txt)
          echo "OLD_WATCH_VERSION=$OLD_WATCH_VERSION" >> $GITHUB_ENV
          PREV_MOBILE_VERSION_REF=$(git rev-list -n 1 $OLD_MOBILE_VERSION)
          PREV_WATCH_VERSION_REF=$(git rev-list -n 1 $OLD_WATCH_VERSION)
          if [[ $(git log --oneline "$PREV_MOBILE_VERSION_REF..HEAD" -p mobile | wc -l) == "0" ]] then
            echo "BUILD_MOBILE=false" >> $GITHUB_ENV
          else
            echo "BUILD_MOBILE=true" >> $GITHUB_ENV
          fi
          if [[ $(git log --oneline "$PREV_WATCH_VERSION_REF..HEAD" -p watch | wc -l) == "0" ]] then
            echo "BUILD_WATCH=false" >> $GITHUB_ENV
          else
            echo "BUILD_WATCH=true" >> $GITHUB_ENV
          fi
      - name: Check if there were any new fix or feature commits
        id: version-check
        uses: inovait/actions-common/bump-version@v11
        with:
          version: '${{ env.OLD_VERSION }}'
          from: '${{ env.NX_BASE }}'
          to: '${{ env.NX_HEAD }}'
          increment: "auto"
      - run: "echo \"No feature or fix commits. Skipping build...\""
        if: "${{ steps.version-check.outputs.version == env.OLD_VERSION }}"
      - uses: andymckay/cancel-action@0.3
        if: "${{ steps.version-check.outputs.version == env.OLD_VERSION }}"
      - name: "Wait for cancel to stick"
        run: "sleep 99999"
        if: "${{ steps.version-check.outputs.version == env.OLD_VERSION }}"
      - run: "./config/bump_version.sh ${{ steps.version-check.outputs.version }}"
      - run: "v=$(cat version.txt);echo \"VERSION=$v\" > $GITHUB_ENV"
      - run: "cp version.txt mobile/version.txt"
        if: "${{ env.BUILD_MOBILE == 'true' }}"
      - run: | 
          cp version.txt watch/version.txt
          
          # Pebble has limitations on versioning. It cannot have patch versions and its major and minor versions are limited to
          # 255. Instead, just generate a unique version from the build number
          let WATCH_MAJOR=$BUILD_NUMBER/256
          let WATCH_MINOR=$BUILD_NUMBER%256
          
          cat watch/package.json | jq ".version = \"$WATCH_MAJOR.$WATCH_MINOR\"" > tmp.json
          cp tmp.json watch/package.json
        if: "${{ env.BUILD_WATCH == 'true' }}"
      - run: "echo \"# Release version ${{ env.VERSION }}\" > $GITHUB_STEP_SUMMARY"

      # Preparation

      - name: Install screenshot test dependencies
        run: "sudo apt-get install -y libfreetype6 fontconfig fonts-dejavu"
        if: "${{ env.BUILD_MOBILE == 'true' }}"
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        if: "${{ env.BUILD_WATCH == 'true' }}"
      - name: Install pebble SDK
        run: "uv tool install pebble-tool && pebble sdk install latest"
        if: "${{ env.BUILD_WATCH == 'true' }}"
      - name: Globally enable build cache and parallel execution
        run: "mkdir -p ~/.gradle && echo -e 'org.gradle.caching=true\norg.gradle.parallel=true' >> ~/.gradle/gradle.properties"
        if: "${{ env.BUILD_MOBILE == 'true' }}"
      - uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: temurin
        if: "${{ env.BUILD_MOBILE == 'true' }}"
      - uses: android-actions/setup-android@7c5672355aaa8fde5f97a91aa9a99616d1ace6bc
        if: "${{ env.BUILD_MOBILE == 'true' }}"
      # Install extra android platform needed for Paparazzi
      - run: sdkmanager "platforms;android-33" "platforms;android-34"
        if: "${{ env.BUILD_MOBILE == 'true' }}"

      # Build mobile app

      - name: Compile app
        uses: burrunan/gradle-cache-action@v3.0.1
        with:
          arguments: "compileDebugKotlin assembleRelease --daemon"
          build-root-directory: mobile
          daemon: false
          debug: false
          concurrent: true
          # TODO: read-only: ${{ github.ref != 'refs/heads/master' }}
        env:
          RELEASE_KEY_PASSWORD: ${{ secrets.RELEASE_KEY_PASSWORD }}
          RELEASE_KEYSTORE_PASSWORD: ${{ secrets.RELEASE_KEYSTORE_PASSWORD }}
        if: "${{ env.BUILD_MOBILE == 'true' }}"
      - name: "Upload proguard mappings"
        uses: actions/upload-artifact@v4
        if: "${{ env.BUILD_MOBILE == 'true' }}"
        with:
          name: mapping-app-develop-release.txt
          path: mobile/app/build/outputs/mapping/release/mapping.txt

      # Tests

      - name: Lint
        uses: burrunan/gradle-cache-action@v3.0.1
        with:
          arguments: "lintRelease detektMain detektTest -x detektDebug -x detektDebugUnitTest assertModuleGraph buildHealth detectTooManyFiles debugComposeCompilerCheck reportMerge --continue --daemon"
          build-root-directory: mobile
          debug: false
          concurrent: true
        if: "${{ env.BUILD_MOBILE == 'true' }}"
      - name: Compile Unit Tests
        uses: burrunan/gradle-cache-action@v3.0.1
        with:
          arguments: "compileDebugUnitTestSources compileReleaseUnitTestSources --daemon"
          build-root-directory: mobile
          debug: false
          concurrent: true
        if: "${{ env.BUILD_MOBILE == 'true' }}"
      - name: Run Unit Tests
        uses: burrunan/gradle-cache-action@v3.0.1
        with:
          arguments: "test -x :app-screenshot-tests:testDebugUnitTest -x :app-screenshot-tests:testReleaseUnitTest --daemon"
          build-root-directory: mobile
          debug: false
          concurrent: true
        if: "${{ env.BUILD_MOBILE == 'true' }}"
      - name: "Generate new Screenshot Tests"
        run: "config/generate-screenshots.sh ${{ github.event.pull_request.head.ref }}"
        working-directory: mobile
        if: "${{ env.BUILD_MOBILE == 'true' }}"
      - name: "Run Screenshot Tests"
        uses: burrunan/gradle-cache-action@v3.0.1
        with:
          arguments: "--continue verifyPaparazziDebug --daemon"
          build-root-directory: mobile
          debug: false
          concurrent: true
        if: "${{ env.BUILD_MOBILE == 'true' }}"
      - name: "Upload Screenshot test failures"
        uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: failed-screenshot-tests
          path: mobile/app-screenshot-tests/build/paparazzi/failures

      # Build watchapp

      - name: Build watchapp
        run: pebble build && mv build/watch.pbw build/catapult-watchapp.pbw
        working-directory: watch
        if: "${{ env.BUILD_WATCH == 'true' }}"

      - name: Generate Changelog
        id: changelog
        uses: inovait/actions-common/git-changelog-generator@v8
        with:
          git_commit_url_prefix: 'https://github.com/matejdro/PebbleCatapult/commit/'
          jira_url: 'https://github.com/matejdro/PebbleCatapult'
          from: '${{ env.NX_BASE }}'
          to: '${{ env.NX_HEAD }}'
      - name: Add counterpart link to the changelog
        run: |
          CHANGELOG_EXTRA=""
          if [[ "$BUILD_WATCH" == "false" ]] then
            CHANGELOG_EXTRA="$CHANGELOG_EXTRA\n\nFor the watchapp, download the [$OLD_WATCH_VERSION](https://github.com/matejdro/PebbleCatapult/releases/tag/$OLD_WATCH_VERSION) version."
          fi
          if [[ "$BUILD_MOBILE" == "false" ]] then
            CHANGELOG_EXTRA="$CHANGELOG_EXTRA\n\nFor the phone app, download the [$OLD_MOBILE_VERSION](https://github.com/matejdro/PebbleCatapult/releases/tag/$OLD_MOBILE_VERSION) version."
          fi
          
          echo "CHANGELOG_EXTRA<<DELIMITERXXXX" >> $GITHUB_ENV
          echo -e $CHANGELOG_EXTRA >> $GITHUB_ENV
          echo "DELIMITERXXXX" >> $GITHUB_ENV
      - name: 'Add version'
        run: 'git add version.txt mobile/version.txt watch/version.txt watch/package.json'
      - run: 'git config --global user.email "41898282+github-actions[bot]@users.noreply.github.com"'
      - run: 'git config --global user.name "github-actions[bot]"'
      - name: 'Commit version'
        run: 'git commit -m "chore: release ${{ env.VERSION }}"'
      - name: 'Push version'
        run: 'git push'
      - name: Tag build
        run: |
          git tag ${{ env.VERSION }}
          git push origin ${{ env.VERSION }}
      - name: "Publish arficats to action"
        uses: actions/upload-artifact@v4
        with:
          name: release-artifacts
          path: |
            mobile/app/build/outputs/apk/release/catapult-mobile.apk
            watch/build/catapult-watchapp.pbw
      - name: Create a Release
        uses: ncipollo/release-action@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          name: ${{ env.VERSION }}
          tag: ${{ env.VERSION }}
          body: ${{ steps.changelog.outputs.changelog }}${{env.CHANGELOG_EXTRA}}
          artifacts: "mobile/app/build/outputs/apk/release/catapult-mobile.apk,watch/build/catapult-watchapp.pbw"
          generateReleaseNotes: false
